* {
  font-family: Helvetica;
  text-align: center;
  }

.background-image {
  background-image: url("../images/the-flatiron-building.png");
}

.vertical-menu {
  list-style-type: none;
  padding: 0;
  <!-- margin: 0; -->
  font-size: 18px;
  color: White;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.company-section {
  color: white;
}

.footer {
  font-size: 11px;
  color: White;
  background-color: Dimgray;
  text-align: left;
}
