* {
  font-family: Helvetica;
  text-align: center;
  }

.hero {
  background-image: url("../images/the-flatiron-building.png");
}

.vertical-nav {
  font-size: 18px;
  color: White;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.hero h3 {
  color: White;
}

p {
  font-size: 14px;
}

.footer p {
  font-size: 11px;
  color: White;
  background-color: Dimgray;
  text-align: left;
}
