* {
  font-family: Helvetica;
  text-align: center;
  }

.header {
  background-image: url("../images/the-flatiron-building.png");
}

.vertical-menu {
  list-style-type: none;
  padding: 0;
  <!-- margin: 0; -->
  font-size: 18px;
  color: White;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}
